.row div{
    width: 95px;
    height: 95px;
    border: 1px solid black;
}

body{
    background-color: black;
}

/* Variabili */

:root {
    --green1: #005c00;
    --green2: #0f800f;
    --green3: #0aa10a;
    --green4: #0db50d;
    --green5: #50c050;
    --green6: #8fe38f;
    --green7: #e6ffdd;
    --black: #000000;
}


/* RIGA 1 */

.row-1 .col-1:nth-child(1){
    background-color: var(--green4);
}

.row-1 .col-1:nth-child(2){
    background-color: var(--green6);
}

.row-1 .col-1:nth-child(3){
    background-color: var(--green3);
}

.row-1 .col-1:nth-child(4){
    background-color: var(--green4);
}

.row-1 .col-1:nth-child(5){
    background-color: var(--green6);
}

.row-1 .col-1:nth-child(6){
    background-color: var(--green7);
}

.row-1 .col-1:nth-child(7){
    background-color: var(--green6);
}

.row-1 .col-1:nth-child(8){
    background-color: var(--green5);
}

.row-1 .col-1:nth-child(9){
    background-color: var(--green2);
}

.row-1 .col-1:nth-child(10){
    background-color: var(--green6);
}

/* RIGA 2 */

.row-2 .col-1:nth-child(1){
    background-color: var(--green5);
}

.row-2 .col-1:nth-child(2){
    background-color: var(--green1);
}

.row-2 .col-1:nth-child(3){
    background-color: var(--green5);
}

.row-2 .col-1:nth-child(4){
    background-color: var(--green4);
}

.row-2 .col-1:nth-child(5){
    background-color: var(--green5);
}

.row-2 .col-1:nth-child(6){
    background-color: var(--green2);
}

.row-2 .col-1:nth-child(7){
    background-color: var(--green5);
}

.row-2 .col-1:nth-child(8){
    background-color: var(--green5);
}

.row-2 .col-1:nth-child(9){
    background-color: var(--green7);
}

.row-2 .col-1:nth-child(10){
    background-color: var(--green2);
}

/* RIGA 3 */

.row-3 .col-1:nth-child(1){
    background-color: var(--green6);
}

.row-3 .col-1:nth-child(2){
    background-color: var(--green4);
}

.row-3 .col-1:nth-child(3){
    background-color: var(--black);
}

.row-3 .col-1:nth-child(4){
    background-color: var(--black);
}

.row-3 .col-1:nth-child(5){
    background-color: var(--green6);
}

.row-3 .col-1:nth-child(6){
    background-color: var(--green3);
}

.row-3 .col-1:nth-child(7){
    background-color: var(--black);
}

.row-3 .col-1:nth-child(8){
    background-color: var(--black);
}

.row-3 .col-1:nth-child(9){
    background-color: var(--green7);
}

.row-3 .col-1:nth-child(10){
    background-color: var(--green5);
}

/* RIGA 4 */

.row-4 .col-1:nth-child(1){
    background-color: var(--green5);
}

.row-4 .col-1:nth-child(2){
    background-color: var(--green4);
}

.row-4 .col-1:nth-child(3){
    background-color: var(--black);
}

.row-4 .col-1:nth-child(4){
    background-color: var(--black);
}

.row-4 .col-1:nth-child(5){
    background-color: var(--green5);
}

.row-4 .col-1:nth-child(6){
    background-color: var(--green4);
}

.row-4 .col-1:nth-child(7){
    background-color: var(--black);
}

.row-4 .col-1:nth-child(8){
    background-color: var(--black);
}

.row-4 .col-1:nth-child(9){
    background-color: var(--green6);
}

.row-4 .col-1:nth-child(10){
    background-color: var(--green5);
}

/* RIGA 5 */

.row-5 .col-1:nth-child(1){
    background-color: var(--green5);
}

.row-5 .col-1:nth-child(2){
    background-color: var(--green6);
}

.row-5 .col-1:nth-child(3){
    background-color: var(--green5);
}

.row-5 .col-1:nth-child(4){
    background-color: var(--green6);
}

.row-5 .col-1:nth-child(5){
    background-color: var(--black);
}

.row-5 .col-1:nth-child(6){
    background-color: var(--black);
}

.row-5 .col-1:nth-child(7){
    background-color: var(--green7);
}

.row-5 .col-1:nth-child(8){
    background-color: var(--green2);
}

.row-5 .col-1:nth-child(9){
    background-color: var(--green5);
}

.row-5 .col-1:nth-child(9){
    background-color: var(--green4);
}

.row-5 .col-1:nth-child(10){
    background-color: var(--green6);
}

/* RIGA 6 */

.row-6 .col-1:nth-child(1){
    background-color: var(--green2);
}

.row-6 .col-1:nth-child(2){
    background-color: var(--green6);
}

.row-6 .col-1:nth-child(3){
    background-color: var(--green2);
}

.row-6 .col-1:nth-child(4){
    background-color: var(--black);
}

.row-6 .col-1:nth-child(5){
    background-color: var(--black);
}

.row-6 .col-1:nth-child(6){
    background-color: var(--black);
}

.row-6 .col-1:nth-child(7){
    background-color: var(--black);
}

.row-6 .col-1:nth-child(8){
    background-color: var(--green4);
}

.row-6 .col-1:nth-child(9){
    background-color: var(--green7);
}

.row-6 .col-1:nth-child(10){
    background-color: var(--green6);
}

/* RIGA 7 */

.row-7 .col-1:nth-child(1){
    background-color: var(--green3);
}

.row-7 .col-1:nth-child(2){
    background-color: var(--green7);
}

.row-7 .col-1:nth-child(3){
    background-color: var(--green3);
}

.row-7 .col-1:nth-child(4){
    background-color: var(--black);
}

.row-7 .col-1:nth-child(5){
    background-color: var(--black);
}

.row-7 .col-1:nth-child(6){
    background-color: var(--black);
}

.row-7 .col-1:nth-child(7){
    background-color: var(--black);
}

.row-7 .col-1:nth-child(8){
    background-color: var(--green5);
}

.row-7 .col-1:nth-child(9){
    background-color: var(--green2);
}

.row-7 .col-1:nth-child(10){
    background-color: var(--green7);
}

/* RIGA 8 */

.row-8 .col-1:nth-child(1){
    background-color: var(--green5);
}

.row-8 .col-1:nth-child(2){
    background-color: var(--green4);
}

.row-8 .col-1:nth-child(3){
    background-color: var(--green5);
}

.row-8 .col-1:nth-child(4){
    background-color: var(--black);
}

.row-8 .col-1:nth-child(5){
    background-color: var(--green5);
}

.row-8 .col-1:nth-child(6){
    background-color: var(--green7);
}

.row-8 .col-1:nth-child(7){
    background-color: var(--black);
}

.row-8 .col-1:nth-child(8){
    background-color: var(--green2);
}

.row-8 .col-1:nth-child(9){
    background-color: var(--green4);
}

.row-8 .col-1:nth-child(10){
    background-color: var(--green3);
}